@charset "UTF-8";

.myB{
	display: inline-block;
	font-size: 20px;
	padding: 5px 7px;
	background-color: #ff6666;
	color: white;
	text-align: center;
   	border: 1px solid #ff6666;
  	-webkit-transition: all 0.5s;
 	-moz-transition: all 0.5s;
  	-ms-transition: all 0.5s;
  	-o-transition: all 0.5s;
  	transition: all 0.5s;
}

.myB:hover, .myB:focus {
	display: inline-block;
	padding: 5px 7px;
	color: #ff6666;
	background-color: white;
}

p {
	text-align: right;
	color: red;
	font-size: 20px;
}

input {
	text-align: right;
	color: red;
	font-size: 20px;
}

h1 {
	text-align: center;
}

h2 {
	color: navy;
}


/* hr {
	border: solid 2px #ff6666;
}
 */
div {
	text-align: center;
}
