@charset "UTF-8";

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
      -ms-text-size-adjust: 100%;
}

h2 {
	color: #ff6666;
	font-weight: bold;
}

p {
	font-size: 12px;
	font-style: oblique;
	color: black;
	text-decoration: underline;
}

.myB{
	display: inline-block;
	font-size: 12px;
	padding: 3px 5px;
	background-color: white;
	color: #ff6666;
	text-align: right;
   	border: 1px solid #ff6666;
  	-webkit-transition: all 0.5s;
 	-moz-transition: all 0.5s;
  	-ms-transition: all 0.5s;
  	-o-transition: all 0.5s;
  	transition: all 0.5s;
}

.myB:hover, .myB:focus {
	display: inline-block;
	padding: 3px 5px;
	color: white;
	background-color: #ff6666;
}

.myBt {
	margin: auto;
	width: 50%;
	display: inline-block;
	font-size: 12px;
	padding: 3px 5px;
	background-color: white;
	color: #ff6666;
   	border: 1px solid #ff6666;
  	-webkit-transition: all 0.5s;
 	-moz-transition: all 0.5s;
  	-ms-transition: all 0.5s;
  	-o-transition: all 0.5s;
  	transition: all 0.5s;
}

.myBt:hover, .myBt:focus {
	display: inline-block;
	padding: 3px 5px;
	color: white;
	background-color: #ff6666;
}

div {
	font-size: 12px;
	color: red;
}